span{
  font-style: normal;
}
.container-banner{
  border-bottom: 3px solid black;
  
}


.custom-border-top {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  
  /* Imagen 2: Bordes redondeados en la parte inferior */
  .custom-border-bottom {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;

  }

.btn-buscar{
    border: 3px solid black;
    color: black;
    border-radius: 40px;
    background-color:#6fbf7e
}

.btn-buscar:hover{
    background-color:#000000 ;
    color: rgb(255, 255, 255);
}

.subtitle{
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

img {
    object-fit: cover; /* Hace que la imagen se recorte y se ajuste al contenedor */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 14px rgba(0, 0, 0, 0.3); /* Sombra suave */

    
  }
  img:hover {
    transform: scale(1.05); /* Incrementa el tamaño al 110% */
    
  }


.display-4{
    text-align: left;
}

.lead{
    text-align: justify;
    color: black;
}

.card {
  border-radius: 20px; /* Bordes redondeados para las tarjetas */
  overflow: hidden; /* Evitar que el contenido sobresalga */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid black;

}


.card:hover {
  transform: scale(1.05); /* Efecto de zoom suave al pasar el cursor */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.card-img-top {
  height: 400px; /* Altura fija para las imágenes */
  object-fit: cover; /* Asegurar que las imágenes se ajusten correctamente */
  max-height: fit-content;
}

.cta-card .card-body {
  height: 100%; /* Ocupa toda la altura de la tarjeta */
}

.cta-card .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(0, 0, 0);
}

/* Espaciado entre las columnas y contenido */
.register img {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid black;
}

.register h2 {
  font-size: 2rem;
  font-weight: bold;
}

.register p {
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
}

.btn-register-container{
  border: 3px solid black;
  color: black;
  border-radius: 40px;
  background-color: #6fbf7e;
}

.btn-register-container:hover{
  background-color:#000000 ;
  color: rgb(255, 255, 255);
}









