<div class="container-fluid container-banner  py-5 ">
    <div class="row banner align-items-center">
      <!-- Columna de texto -->
      <div class="col-md-6 col-lg-6 mb-4 mb-lg-0 ">
        <h1 class="display-4 fw-bold">Bienvenido a <span>SWAPPTALES</span></h1>
        <p class="lead ">
            Descubre un universo de historias y conocimiento, donde los libros cambian de manos y las aventuras nunca terminan. Únete a nuestra comunidad de lectores apasionados y comienza a intercambiar libros hoy mismo. ¡Tu próxima lectura está a solo un intercambio de distancia!
        </p>
        <button href="#" class="btn btn-buscar" [routerLink]="['/search']">Empieza a buscar </button> 
      </div>
      
      <!-- Columna de imágenes -->
      <div class="col-md-6 col-lg-6">
        <div class="row">
          <div class="col-12 d-flex">
            @for(book of top3BooksOwn; track book.external_id_api){
              <div class="card h-100 shadow m-2">
                <img [src]="book.cover && book.cover !== 'https://covers.openlibrary.org/b/olid/undefined-L.jpg' 
                ? book.cover 
                : 'assets/foto-nodispo.png'"class="card-img-top img-fluid" alt="Portada libro 1">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }}</h5>
                  <p class="card-text"> {{book.author}}</p>
                </div>
              </div>
           }
          </div>
        </div>
      </div>
    </div>
</div>
  
<div class="container my-5">
    <div class="row g-4">
      <!-- Card 1 -->
      <div class="col-12 col-md-6 col-lg-6">
      <img src="assets/green_garden.jpg" class="img-fluid  custom-border-bottom" alt="Imagen 2">
      </div>
      
      <div class="col-12 col-md-6 col-lg-6">
        <div class="h-100  cta-card">
          <div class="card-body d-flex flex-column justify-content-center text-cente align-items-center  ">
            <h2 class="subtitle">Descubre los libros favoritos de nuestra comunidad</h2>
            <h3 class="card-text"><a href="#" class="btn btn-buscar mt-3">Ver más</a></h3>    
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container register my-5">
    <div class="row align-items-center g-4">
        <h2 class="mb-4  d-flex justify-content-center">¡Conoce nuestra comunidad!</h2>
    </div>
    <div class="row d-flex flex-column">
        <p class="mb-4 d-flex align-items-center  justify-content-center ">
        ¡Únete a miles de lectores apasionados que comparten su amor por los libros! Nuestra plataforma te permite intercambiar libros fácilmente, descubrir nuevas historias y conectar con personas que comparten tus intereses.
        Sé parte de este movimiento literario y dale una segunda vida a tus libros favoritos.
        </p>
        <div class="col-12 d-flex align-items-center  justify-content-center">
            <a href="#" class="btn btn-register-container justify-content-center align-items-center " [routerLink]="['/register']" >Registrate ya!</a>
        </div>
        
      </div>
</div>
  




  