<!--BANNER-->

<!--<div class="jumbotron">
    <img class="img-fluid" src="assets/banner1.jpg" alt="First slide">
</div>-->

<div class="container">
    <div class="row">
        <div class="col-lg-8 ">
            <img id="banner-foto" class="img-fluid" src="assets/banner2.png" alt="First slide">
        </div>
        <div class="col-lg-4   d-flex flex-column align-items-center justify-content-center text-center ">
                <h2 class="card-text-banner ">En SWAPPTALES, intercambia libros usados por otros títulos o puntos P-Books.
                    Comparte tus lecturas y descubre nuevas historias.</h2>
                <button href="#" class="btn m-3" [routerLink]="['/books']">Empieza a buscar </button>    
        </div>
    </div>
</div>
<div class="container-fluid position-relative">
    <div  id="favoritos" class="row  d-flex tex-center justify-content-center ">
        <div class="col-12">
            <h2 class="tex-center">Descubre los libros favoritos de nuestra comunidad</h2>
        </div>
        <div class="card-group col-12">
            <div class="card-recomendado">
                <img src="assets/portadaprueba.png" class="img-fluid img-recomendado" alt="...">
                <div class="card-body-recomendado">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Autor: Jhorman Cadena.</p>
                    <button href="#" class=" btn btn-recomendado">Ver propietarios</button>
                </div>
            </div>

            <div class="card-recomendado">
                <img src="assets/portadaprueba.png" class="img-fluid img-recomendado" alt="...">
                <div class="card-body-recomendado">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Autor: Jhorman Cadena.</p>
                    <button href="#" class=" btn btn-recomendado">Ver propietarios</button>
                </div>
            </div>
            <div class="card-recomendado">
                <img src="assets/portadaprueba.png" class="img-fluid img-recomendado" alt="...">
                <div class="card-body-recomendado">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Autor: Jhorman Cadena.</p>
                    <button href="#" class=" btn btn-recomendado">Ver propietarios</button>
                </div>
            </div>
            <div class="card-recomendado">
                <img src="assets/portadaprueba.png" class="img-fluid img-recomendado" alt="...">
                <div class="card-body-recomendado">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Autor: Jhorman Cadena.</p>
                    <button href="#" class="btn btn-recomendado">Ver propietarios</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid otro-contenedor">
    <div class="row">
        <div class="col-12">
            <h2 class="tex-center">¿Quieres ser parte de nuestra comunidad?</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos dolor soluta, vero nulla sit quia vel laborum delectus dignissimos, veniam, quo amet assumenda expedita tempora rem ea voluptates minima consequuntur.</p>
        </div>
    </div>
</div>