
.banner-2{
    height: 45vh;
    background-color: #fff8ee;
    border-top-left-radius: 50px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 500px;

}


.banner-container{
    width: 100%;
    height: 50vh;

}

.text-banner {
    font-size: clamp(1.5rem, 3vw, 2rem);
    font-weight: bold;
    width: 100%;
    color: #B88E2F;
}

.p-banner{
    font-size: clamp(0.8rem, 3vw, 1rem);
    font-weight: bold;
}
.subtitle{
    font-size: clamp(1rem, 4vw, 1.5rem);
    color:#B88E2F ;
    font-weight: bold;
}

.btn-buscar{
    background-color: #B88E2F;
    color: rgb(255, 255, 255);
    border-color: #B88E2F;
    text-align: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    font-size: 18px;
    white-space: nowrap;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.btn-buscar:hover {
   background-color: #434343; 
   border-color: #8cba8e;
   transform: translateY(-10px)
}



#banner-foto{
    width: 100%;
    background-size: cover;
    height: 45vh;
    padding: 0;
    border-radius: 50px;


    z-index: 1;
}

@media screen and (max-width: 990px) {
    #banner-foto {
        overflow: auto;
        display: none;

    }
}
.card-group {
    overflow-y: auto;
    cursor: pointer;
    float: left;
    padding: 20px;
    gap: 20px;
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0); /* Color del texto */
    text-align: center;
    padding-top: 20px;
    background-color: #FFF3E3;
    overflow: auto;
}

.card-recomendado{ //card
    background-color: #ffffff;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-bottom: 15px;
}



.card-recomendado:hover {
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para el efecto de hover */
}

.img-recomendado{ //card-img
    object-fit: cover;
    width: 100%;
    height: 300px;

}

.card-body-recomendado{ //card-body
    padding: 3px;
    color: #434343;
    background-color: #ffff;
    margin: 10px;


 }

 .btn-recomendado{
    background-color: #434343;
       color: white;
       border-color: #434343;
       text-align: center;
       justify-content: center;
       justify-items: center;
       padding: 10px 15px;
       font-size: 18px;
       white-space: nowrap;
 }


 #favoritos{
    background-color: #FFF3E3;
 }






