<!--BANNER-->

<!--<div class="jumbotron">
    <img class="img-fluid" src="assets/banner1.jpg" alt="First slide">
</div>-->

<div class="container">
    <div class="row">
        <div class="col-lg-6 container-img">
            <img id="banner-foto" class="img-fluid" src="assets/Columnbanner.jpg" alt="First slide">
        </div>
        <div class="col-lg-6">
            <div class="card">
                <img src="assets/logo.png" class="card-img-top" alt="logo">
                <div class="card-body">
                  <p class="card-text">En SWAPPTALES, intercambia libros usados por otros títulos o puntos P-Books. Comparte tus lecturas y descubre nuevas historias. Porque siempre hay libros esperando ser leídos y otros por compartir.</p>
                  <a href="#" class="btn" [routerLink]="['/books']">Empieza a buscar </a>
                </div>
              </div>

        </div>
    </div>
</div>


