<nav class="nav-1 d-flex justify-content-between">
  <div class="container-fluid">
      <div class="d-flex justify-content-between text-center">
        <a class="navbar-brand d-flex justify-content-start " href="#">
          <img src="assets/logo-marron.png" alt="logo" class="logo img-fluid">
        </a>
        <div class="d-flex mt-3">
          <a class="tex-white social-media"><i class="bi bi-instagram"></i></a>
          <a class="tex-white social-media"> <i class="bi bi-facebook"></i></a>
          <a class="tex-white social-media "> <i class="bi bi-twitter"></i></a>
          <a class="tex-white social-media"> <i class="bi bi-info-circle-fill"></i> Ayuda</a>
          @if(!isLoggedIn()){
            <button class="btn btn-sesion justify-content-center" data-bs-toggle="modal" data-bs-target="#loginModal"><i class="bi bi-person-fill"></i>Mi cuenta</button> <!--pendiente de poner en el centro cuando es repsonsive-->
          }@else {
            <button class="btn btn-sesion justify-content-center"[routerLink]="['areasocios']"><i class="bi bi-person-fill" ></i>Mi Perfil</button>
            <button class="btn btn-sesion justify-content-center"(click)="logOut()"  ><i class="bi bi-power m-1"></i>Cerrar sesión</button>
          }
            
        </div>
       
      </div>

    
  </div>
  
</nav>
<nav class="navbar navbar-expand-lg d-flex justify-content-end menu-2" data-bs-theme="">
        <button class="navbar-toggler ms-auto text-end justify-content-end bg-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02"
            aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse text-center justify-content-center " id="navbarColor02">
        <a class="nav-link" [routerLink]="['/']"><i class="bi bi-house-door-fill m-1"></i>Inicio</a>
        <a class="nav-link"[routerLink]="['localizaciones']"><i class="bi bi-book-fill m-1"></i>Puntos de intercambio</a>
        <a class="nav-link"><i class="bi bi-chat-dots-fill m-1"></i>Conócenos</a>
      
    </div>
</nav>

<div class="modal" tabindex="-1" id="loginModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center align-items-center justify-content-center">
          <h5 class="modal-title text-center align-items-center justify-content-center">Accede a tu cuenta o crea una nueva</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-justify justify-content-justify">
          <p class="text-center">Bienvenido a nuestra comunidad. Si ya tienes una cuenta, inicia sesión para continuar disfrutando de nuestros servicios. Si no, regístrate ahora para comenzar a explorar todo lo que ofrecemos. ¡Es rápido y fácil!</p>
        </div>
        <div class="modal-footer text-center align-items-center justify-content-center">
          <button type="button" class="btn" data-bs-dismiss="modal" [routerLink]="['login']">Iniciar sesión</button>
          <button type="button" class="btn" data-bs-dismiss="modal" [routerLink]="['register']">Registrarte</button>
        </div>
      </div>
    </div>
  </div>