nav{
    background-color: #6fbf7e;
    width: 100%;
    border-bottom: 3px solid black;

}
.navbar-brand {
    display: flex; /* Asegura que los hijos estén en línea */
    align-items: center; /* Centra verticalmente */
  }

.logo{
    width: 100px;
    height: auto;
    max-height: 60px;
}
li .nav-link {
      white-space: normal; 
      color: black;
}

li .nav-link:hover {
    text-decoration: underline;
    font-size: 17px;
}
i{
      font-size: 0.9rem;
      padding: 2px;
}

.btn-outline-success{
    border: 3px solid black;
    color: rgb(255, 255, 255);
    border-radius: 40px;
    background-color: #000000;
}

.btn-outline-success:hover{
    background-color: #e8ffec;
    color: rgb(12, 12, 12);
}

.btn-outline-count{
    border: 3px solid black;
    color: #000000;
    border-radius: 40px;
    background-color: #6fbf7e;
}

.modal-header{
    background-color: #e8ffec;
    color: #000000;
    text-align: center;
    display: flex;
    border-bottom: 3px solid black;
}

.btn-outline-count:hover{
    background-color: #000000;
    color: rgb(255, 255, 255);
}

.form-div{
    width: 40%;
}

@media (max-width: 1000px) {
    .form-div {
    align-items: center;
    display: flex;
    overflow: auto;
      width: 90%;
    }
  }

.form-control{
    width: 100%;
    border: 2px solid black;
    text-align: center;
    border-radius: 50px;
}
.form-control:focus {
    background-color: #e8ffec; 
  }

.bi-coin{
    color: #000000;
    font-weight: bold;
    font-size: 15px;
}

.navbar-toggler{
    border: 3px solid black;
}
