.form-overlay {
    z-index: 0;
    font-family: "Space Grotesk", sans-serif;
    color: rgb(26,99,99);
    font-weight: bold;
}
.form-overlay input {
    width: 70%;
    border: 1px solid #7BB28A;
    border-radius: 5px;
    text-align: center;
}


.form-overlay h2 {
    font-size: 40px;
    color: rgba(13,13,13);
}

.card {
    font-family: "Space Grotesk", sans-serif;
    margin: 20px;
    flex: 0 0 auto;
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    max-width: 100%;
    background-color: white;
    min-width: 400px;
    border-bottom: 3px solid #7BB28A;
    border-top: 3px solid #7BB28A;
    border-left: 3px solid #7BB28A;
    border-right: 3px solid #7BB28A;
}
.card-text{
    min-height: fit-content;
    max-height: 400px;
    font-size: 14px;
}

.card:hover {
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para el efecto de hover */
}

.card-body{
    font-family: "Space Grotesk", sans-serif;
    color: rgb(13,13,13);
    flex: 1;
    min-width: fit-content;
    width: 100%;
    margin-top: 5px;
    text-align: left;

}

.btn{
    background-color: #7BB28A;
    color: white;
    border-color: #7BB28A;
    text-align: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 10px;
    margin: 2px;
}
.btn:hover {
   background-color: rgb(13,13,13); 
   border-color: rgb(13,13,13);
}

#cards-container{
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    max-width: fit-content;
}

.card-img{
    object-fit: cover;
    height: 100%;
}




//pendiente de hacer flechas direccionales en las cards de resultados