.container-fluid{
    overflow: auto;
}

.form-overlay {
    z-index: 0;
    font-family: "Space Grotesk", sans-serif;
    color: rgb(26,99,99);
    font-weight: bold;
    display: flex;
    margin-top: 20px;
}
.form-overlay input {
    width: 100%;
    border: 1px solid #5fad64;
    border-radius: 5px;
    text-align: center;
    margin: 2px;
}


h2 {
    font-size: 30px;
    color: rgba(13,13,13);
    justify-content: justify;
    font-family: "Space Grotesk", sans-serif;
    padding: 0;
    width: 100%;
    display: flex;
}

.masonry-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,2fr));
    gap: 10px;
}

.card{
    width: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10px;
    border: 1px solid beige;
    font-family: "Space Grotesk", sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: white;
    border-bottom: 3px solid #5fad64;
    border-top: 3px solid #5fad64;
    border-left: 3px solid #5fad64;
    border-right: 3px solid #5fad64;
    grid-row: span calc(var(--card-height) / 10); /* Altura dinámica */
    overflow: hidden;
}
.card-text{
    font-size: 14px;
}

.card:hover {
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para el efecto de hover */
}

.card-body{
   font-family: "Space Grotesk", sans-serif;
    color: rgb(13,13,13);
    flex: 1;
    width: 100%;
    margin-top: 5px;
    text-align: left;
    background-color: #e1f4e6;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

}

.btn{
    background-color: #5fad64;
    color: white;
    border-color: #5fad64;
    text-align: center;
    justify-content: center;
    justify-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px 15px;
    font-size: 18px;
    white-space: nowrap;
    margin-top: 10px;
    margin: 2px;
    min-width: fit-content;
}
.btn:hover {
   background-color: rgb(13,13,13); 
   border-color: rgb(13,13,13);
}

/*#cards-container{
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 10px;
    cursor: pointer;
    text-align: center;
    align-items: center;
    max-width: fit-content;
}*/

.card-img{
    object-fit: contain;
    width: 100%;
    height: auto;
}




//pendiente de hacer flechas direccionales en las cards de resultados