.container-fluid{
    margin-bottom: 20px;
}

.banner{
    margin-top: 5vh;
}

#map{
    height: 50vh;
    width: 100%;
    position: relative;
    min-width: fit-content;
    z-index: 0;
    font-family: "Space Grotesk", sans-serif;
    border: 3px solid black;
    border-radius: 10px;
}


.custom-class{
    text-align: justify;
}

#cards-container{
    overflow-y: auto;
    max-height: 50vh;
    margin-top: 10px;
    cursor: pointer;
}

h1{
    color: #000000;
    font-weight: bold;
    font-size: 2.5rem;
    font-weight: bold;
}

.card{
    width: 100%;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    background-color: #e8ffec;
}

.card-body{
    align-items: justify;
    display: block;
    position: relative;
    transition: none;

}

#card-container :hover{
    transform: translateY(-5px);

}

.card active{

    box-shadow: none;

}

.card-title{
    position: relative;
    display: block;
    font-size: 20px;
    color: #000000;
}

.card-mapa{
    z-index: 2;
    justify-content: center;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.img-localizacion{
    width: auto;
    height: 400px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#checkbox-container{
    border-top: 2px solid #000000;
    margin-top: 3vh;
}



