<div class="container-fluid mt-3">
    <div class="row">
        <!-- Contenido principal -->
        <main class="col-12 col-md-9 col-lg-9 bookshelft ">
            <div class="container-fluid m-3">
                <div class="row d-flex justify-content-center">
                    <div class="bookshelf container-fluid">
                        <h2 class="tex-center d-flex  justify-content-center "> <i class="bi bi-heart-fill p-1 justify-content-center"></i>Tu lista de deseos</h2>
                        <div class="shelf row mb-4">
                            @for(book of listaUserBook;track book.external_id_api){
                            <div class="book col-6 col-md-3 col-lg-3">
                                <div class="card book-card">
                                    <div class="card-body">
                                        <h5 class="card-title">{{book.title}}</h5>
                                        <p class="card-author">{{book.author}}</p>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>

            <div class="container-fluid m-3">
                <div class="row d-flex justify-content-center">
                    <div class="bookshelf-library container-fluid">
                        <h2 class="tex-center d-flex  justify-content-center"> <i class="bi bi-book-fill p-1 justify-content-center"></i>Mi biblioteca</h2>
                        <div class="shelf row mb-4">
                            @for(book of listaUserBook;track book.external_id_api){
                            <div class="book col-6 col-md-3 col-lg-3">
                                <div class="card book-card-library">
                                    <div class="card-body">
                                        <h5 class="card-title">{{book.title}}</h5>
                                        <p class="card-author">{{book.author}}</p>
                                    </div>
                                </div>
                            </div>
                        }
                        </div>
                    </div>
                </div>
            </div>
            
        </main>
        <!-- Sidebar -->
        <nav class="col-12 col-md-3 col-lg-2 text-white sidebar">
            <div class="text-center">
                <img src="../assets/fotoperfil.jpg" class="img-fluid rounded-circle mt-3" alt="Foto de perfil">
                <h5 class="mt-2 name-profile ">{{user.name}}</h5>
            </div>
            <h4 class="text-center titulo-menu">Mi cuenta</h4>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="bi bi-house-door-fill m-1 "></i> Inicio</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#"><i class="bi bi-book-fill m-1 "></i> Mis Libros</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link t" href="#"><i class="bi bi-heart-fill m-1"></i> Lista de Deseos</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#"><i class="bi bi-person-fill m-1 "></i> Mi Perfil</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " href="#"><i class="bi bi-gear-fill m-1 "></i> Configuración</a>
                </li>
            </ul>
        </nav>
    </div>
</div>