<div class="container-fluid justify-content-center ">
    <div class="row">
        <ul class="nav nav-tabs  nav-fill" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                    role="tab" aria-controls="home-tab-pane" aria-selected="true"
                    [class.active]="activeTab === 'inicio'" (click)="setActiveTab('inicio')">
                    <i class="bi bi-house-door-fill m-1"></i> Inicio
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                    role="tab" aria-controls="home-tab-pane" aria-selected="false"
                    [class.active]="activeTab === 'libros'" (click)="setActiveTab('libros')">
                    <i class="bi bi-book-fill m-1"></i> Mis Libros
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                    role="tab" aria-controls="home-tab-pane" aria-selected="false" (click)="setActiveTab('deseos')">
                    <i class="bi bi-heart-fill m-1"></i> Lista de Deseos
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                    role="tab" aria-controls="home-tab-pane" aria-selected="false" (click)="setActiveTab('perfil')">
                    <i class="bi bi-person-fill m-1"></i> Mis amigos
                </a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button"
                    role="tab" aria-controls="home-tab-pane" aria-selected="false"
                    (click)="setActiveTab('configuracion')">
                    <i class="bi bi-gear-fill m-1"></i> Configuración
                </a>
            </li>
        </ul>
    </div>


    <div class="container-fluid  py-3" id="tablist">
        @if(activeTab === 'inicio'){
        <div class="tab-pane fade show active container" id="home-tab-pane" role="tabpanel"
            aria-labelledby="home-tab" tabindex="0">
            <app-welcome></app-welcome>
        </div>
        }
        @if(activeTab === 'libros'){
        <div class="tab-pane fade show active container-fluid  " id="home-tab-pane" role="tabpanel"
            aria-labelledby="home-tab" tabindex="0">
            <app-booklist></app-booklist>

        </div>
        }
        @if(activeTab === 'deseos'){
        <div class="tab-pane fade show active container-fluid" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
            tabindex="0">

            <app-wishlist></app-wishlist>
        </div>
        }
        @if(activeTab === 'perfil'){
        <div class="tab-pane fade show active container-fluid " id="home-tab-pane" role="tabpanel"
            aria-labelledby="home-tab" tabindex="0">
            <app-list-friends></app-list-friends>
        </div>
        }
        @if(activeTab === 'configuracion'){
        <div class="tab-pane fade show active  container-fluid " id="home-tab-pane" role="tabpanel"
            aria-labelledby="home-tab" tabindex="0">
            <app-settings-user></app-settings-user>
        </div>
        }
    </div>