.container{
    flex-wrap: nowrap;
    display: flex;
}
.rounded-circle{
    width: 100px; 
    height: 100px; 
    object-fit: cover;
}

.sidebar{
    background-color: #ffff;
    border-left: 3px dotted #8b5a2b;
    margin-left: auto

}

ul{
    max-height: auto;
    margin: 10px;
    flex-direction: column;
    padding: 20px;
    
}

.book{
    font-family: "Space Grotesk", sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
}

h5{
    color: #fbe9d2;
    font-weight: bold;
}

.name-profile{
    color: #8b5a2b;
    font-weight: bold;
}

.card-text{
    font-size: 14px;
}

.book:hover {
    transform: translateY(-2px); /* Desplaza la tarjeta hacia arriba */
}

h2{
    font-size: 20px;
    color: #FFF3E3;
    justify-content: justify;
    font-family: "Space Grotesk", sans-serif;
    padding: 0;
    width: 100%;
    display: flex;
}

h3{
    font-size: 16px;
}

.card-img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
    max-height: 600px;
}

.btn-favorito {
    background-color: #fbe9d2;
    border-color: #fbe9d2;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.btn-favorito:hover{
    background-color: #8b5a2b;
    border-color: #8b5a2b;
    color:#ffffff

}

.container-profile{

    border-top: 1px solid rgb(150, 150, 150);
    border-top-left-radius: 100px;
    height: 100%;
    flex:1;
    overflow-y: auto;
    padding: 20px;
}

.titulo-menu{
    text-decoration: underline;
    color: #8b5a2b
}

.card {
    font-family: "Space Grotesk", sans-serif;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    display: flex;
    max-width: 400px;
    max-height: 100%;
    overflow: auto;
}

.card:hover {
    transform: translateY(-10px); /* Desplaza la tarjeta hacia arriba */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para el efecto de hover */
}




.nav-link{
    color: black;
    text-align: center;
    width: 100%;
    display: flex;
    font-size: 16px;
    margin: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #8b5a2b;
    border-radius: 5px;
    color: #FFF3E3;
}

.nav-link:hover{
    text-decoration: underline;
}


@media (max-width: 768px) {
    .sidebar {
        border-left: none
    }
    
}
// estanteria
.bookshelf {
    background: linear-gradient(to bottom, #8b5a2b, #8b5a2b); /* Fondo similar a madera */
    padding: 10px;
    border: 10px solid #8b5a2b; /* Marco de la estantería */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }

  .bookshelf-library{
    background: linear-gradient(to bottom, #434343, #434343); /* Fondo similar a madera */
    padding: 10px;
    border: 10px solid #434343; /* Marco de la estantería */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  
  .shelf {
    display: flex;
    align-items: flex-end; /* Los libros "se paran" al fondo */
    padding: 5px 0;
    border-bottom: 3px solid #8b5a2b; /* Línea que simula el estante */
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fffefd ;
    border-radius: 5px;
  }

  .book-card {
    background-color: #464544; /*#a17751*/
    border: none;
    width: 70%;
    height: 200px;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 10px;
    border-bottom: 5px solid #dbd3cc; /* Marco de la estantería */
    border-left: 10px solid #4d3016; /* Marco de la estantería */
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

  }

  .book-card-library {
    background-color: #8b5a2b; /*#a17751*/
    border: none;
    width: 70%;
    height: 200px;
    text-align: center;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.3);
    margin: 10px;
    border-bottom: 5px solid #a3a3a3; /* Marco de la estantería */
    border-left: 10px solid #4d3016; /* Marco de la estantería */
    color:white;
    display:flex;
    align-items: center;
    justify-content: center;

  }

  .book-card img {
    max-height: 120px;
    object-fit: cover;
    margin: 0 auto;
    padding: 5px;
    border-radius: 3px;
  }
  
  .book-card .card-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    white-space: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .book-card .card-author {
    font-size: 0.8rem;
  }

  .book-card-library .card-title {
    font-size: 0.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    white-space: normal;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .book-card-library .card-author {
    font-size: 0.8rem;
  }

  