.form-container {
    position: static;
    width: 100%;
    background-color: #8b5a2b;
    color: #fbe9d2;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    padding-top: 10px;
}

.btn-suscribe{
    background-color: #fbe9d2;
    color: #8b5a2b;
}

.copyright{

    color: #8b5a2b;
    font-weight: bold;
}



.social-media{
    font-size: 1.2rem;
    padding: 5px;
    margin-top: 15px;
    min-width: fit-content;
    color: #8b5a2b;
    justify-content: center;
    margin: 20px;
}
