.form-container {
    position: static;
    width: 100%;
    background-color: #8b5a2b;
    color: #fbe9d2;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    padding-top: 10px;
}

.btn-suscribe{
    background-color: #fbe9d2;
    color: #8b5a2b;
}

.copyright{
    background-color: #8b5a2b;
    color: #fbe9d2;
    font-weight: bold;
}
