<footer class=" container-fluid text-center">
  
    <div class="text-center g-2 d-flex form-container justify-content-center ">

      <section class="">
        <form action="">
    
          <div class="row ">
        
            <div class="col-12 col-md-4 col-lg-4">
              <p class="">
                Sign up for our newsletter
              </p>
            </div>

        <div class="col-md-4 col-lg-4 col-12">
      
              <div class="form-outline mb-4 p-1">
                <input type="email" id="form5Example26" class="form-control  text-center" placeholder="Email address" />
              </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
        
              <button data-mdb-ripple-init type="submit" class="btn btn-suscribe mb-4">
                Subscribe
              </button>
            </div>
      

          </div>
   
        </form>
      </section>
 
    </div>

   

    <div class="text-center copyright p-3">
      <a class="tex-white social-media"><i class="bi bi-instagram"></i></a>
      <a class="tex-white social-media"> <i class="bi bi-facebook"></i></a>
      <a class="tex-white social-media "> <i class="bi bi-twitter"></i></a>
      <a class="tex-white social-media"> <i class="bi bi-info-circle-fill"></i> Ayuda</a>
    </div>
   
</footer>

<footer class="footer mt-auto py-3 bg-dark text-white text-center">
  <div class="container">
    <span>© 2024 Swapptales. Todos los derechos reservados.</span>
  </div>
</footer>
