<div class="container mt-3 text-center banner-container ">
  <div class="row mb-3">
    <h2 class="d-flex text-center justify-content-center"> Introduce tus datos de cuenta</h2>
  </div>

  <div class="container banner-2">
    <div class="row d-flex justify-content-center align-items-center tex-center">
      <div class="col-sm-12 col-md-12 col-lg-6 col-xxl-6">
        <mat-card class="">
          <mat-card-content>
            <form [formGroup]="formLogin" class="form-custom">
              <mat-form-field class="input-custom">
                <mat-label>Email: </mat-label>
                <input matInput type="email" formControlName="email">
                @if(this.formLogin.controls['email'].errors?.['required'] && this.submitted &&
                this.formLogin.controls['email'].touched){
                <span class="error-message">The email is required or invalid.</span>
                }
                <br>
                @if(emailMessage && this.formLogin.controls['email'].touched && this.submitted){
                <span class="error-message">
                  The entered email does not exist.
                </span>
                }
              </mat-form-field>
              <mat-form-field class="input-custom">
                <mat-label>Password: </mat-label>
                <input matInput formControlName="password" type="password" autocomplete="current-password">
                @if(this.formLogin.controls['password'].errors?.['required'] && this.submitted &&
                this.formLogin.controls['password'].touched){
                <span class="error-message">The password is required.</span>
                }
              </mat-form-field>
              <div class=" button-group flex">
                <button class="btn" (click)="LoginIn()">Accede</button>
                <!--  <button class="btn" (click)="register()">Registrate</button>-->
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 col-lg-6">
        <img src="../assets/login-photo.png" class="img-fluid  img-login mt-3" alt="Foto de perfil">
      </div>
    </div>
  </div>
 
</div>