@import "@angular/material/prebuilt-themes/indigo-pink.css"; 


.banner-container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-login{
    width: 100%;
    align-items: end;
    justify-content: end;
    display: flex;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;

}

.banner-2{
    width: 100%;
    background-color: #fff5ec;
    border-top-left-radius: 1000px;
    border-top-right-radius: 1000px;
    border-bottom-right-radius: 400px;
    border-bottom-left-radius: 10px;
    border-top: 1px dotted #8b5a2b;
    border-left: 2px dotted #8b5a2b;

}

@media screen and (max-width: 970px) {
    .img-login {
        overflow: auto;
        display: none;
    }
    .banner-2{
        background-color: white;
    }
}

h2{
    color: #8b5a2b;
    font-family: "Space Grotesk", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}
  
.form-field{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-filed mat-form-field{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.input-custom{
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
    margin-top: 10px;
}


.btn{
    background-color: #434343;
    color: white;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.2s ease;
}



.custom-primary-btn:hover{
    transform: scale(1.05);
}

.error-message {
    color: red; /* Color para mensajes de error */
    font-size: 13px;
}

.button-group{
    flex-direction: column;
    margin: 20px;
}
.button-group button{
    margin: 10px;
}

mat-card{
    background-color: #8b5a2b;
    justify-content: center;
    align-items: center;
    width: 100%;
    display: flex;

}