<div class="container">
    <div class="row">
        <form action="" [formGroup]="searchForm">
            <input type="text" formControlName="searchQuery" > Introduza la busqueda
            <button type="button" (click)="searchBooks()">Buscar</button>
        </form>

        <div class="col-md-12">
            @for(book of BookListSearch;track book.id){
                <div class="card">
                    <div>
                        <h5 class="card-title">{{book.title}}</h5>
                        <p class="card-text">{{book.external_id_api}}</p>
                        <p class="card-text">{{book.author}}</p>
                        <p class="card-text">{{book.isbn}}</p>
                        <p class="card-text">{{book.number_of_pages}}</p>
                        <p class="card-text">{{book.publishers}}</p>
                    </div>
                </div>
            }
        </div>
    </div>
</div>