/* You can add global styles to this file, and also import other style files */

@use 'bootstrap' as *; 



html, body { height: 100%; width: 100%; }
body { width:100%; margin: 0; padding:0; box-sizing: border-box;  font-family: "Poppins", sans-serif;}

.main-container {
    flex: 1; /* Este contenido crecerá para ocupar el espacio disponible */
    min-height: calc(100vh - 56px); /* Altura total menos el tamaño del navbar */
  }