
  <!-- Contenedor para el diseño masonry -->
<div class="row  d-flex align-items-center  justify-content-center text-center  ">


  <div class="masonry ">
    <!-- Imagen de perfil -->
    
    <div class="masonry-item d-flex">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Tus libros
        </div>
        <div class="card-body tu-biblioteca ">
          <ul class="list-group">
            <li class="list-group-item">📘 <strong>“El Principito”</strong></li>
            <li class="list-group-item">📗 <strong>“1984”</strong></li>
            <li class="list-group-item">📙 <strong>“Cien años de soledad”</strong></li>
            <li class="list-group-item">📕 <strong>“Orgullo y Prejuicio”</strong></li>
            <li class="list-group-item text-center text-primary">
              <a class="btn btn-link" (click)="OpenModalist()" >Ver todos los libros</a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="masonry-item d-flex">
      <div class="card">
        <img src="./assets/Columnbanner.jpg" alt="Foto de perfil">
        <div class="card-body text-center">
          <h5 class="card-title">{{userName.name}}</h5>
          <p class="card-text">Miembro desde: <strong>2021</strong></p>
          <button class="btn btn-perfil btn-sm">Editar Perfil</button>
        </div>
      </div>
    </div>

    <!-- Estadísticas generales -->
    <div class="masonry-item d-flex">
      <div class="card h-100">
        <div class="card-header estadisticas text-white">
          Estadísticas Generales
        </div>
        <div class="card-body text-center">
          <h3>4.5</h3>
          <p>Calificación promedio</p>
        </div>
      </div>
    </div>
   
    <!-- Biblioteca -->
    <div class="masonry-item d-flex">
      <div class="card">
        <div class="card-header bg-dark text-white">
          Tus deseos
        </div>
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">📘 <strong>“El Principito”</strong></li>
            <li class="list-group-item">📗 <strong>“1984”</strong></li>
            <li class="list-group-item">📙 <strong>“Cien años de soledad”</strong></li>
            <li class="list-group-item">📕 <strong>“Orgullo y Prejuicio”</strong></li>
            <li class="list-group-item text-center text-primary">
              <a href="#" class="btn btn-link">Ver todos los libros</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <div class="masonry-item d-flex">
      <div class="card h-100">
        <div class="card-header estadisticas text-white">
          Estadísticas Generales
        </div>
        <div class="card-body text-center">
          <h3>4.5</h3>
          <p>Calificación promedio</p>
        </div>
      </div>
    </div>

    <div class="masonry-item">
      <div class="card ">
        <div class="card-header resumen-intercambios text-white">
          Resumen de Intercambios
        </div>
        <div class="card-body">
          <p>Intercambios pendientes: <strong>3</strong></p>
          <p>Intercambios aceptados: <strong>10</strong></p>
          <p>Intercambios rechazados: <strong>2</strong></p>
          <p>Intercambios completados: <strong>20</strong></p>
        </div>
      </div>
    </div>

    <!-- Puntos P-Book -->
    <div class="masonry-item d-flex">
      <div class="card">
        <div class="card-header bg-success text-white text-center">
          Tus Puntos P-Book
        </div>
        <div class="card-body text-center">
          <h1 class="display-6 text-success">200</h1>
          <p>Puntos acumulados</p>
          <a href="#" class="btn btn-outline-success btn-sm">Canjear puntos</a>
        </div>
      </div>
    </div>

  </div>   
    

    
    </div>
